.AnchorWalletAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AnchorWalletAddress-chain {
  display: block;
  font-weight: 700;
}
.AnchorWalletAddress-address {
  display: block;
  font-weight: 300;
}
.AnchorWalletAddress-disconnect {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.667em;
  margin-top: 0.333em;
  letter-spacing: 0.12em;
}
