.App {
  position: relative;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.App::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -200vw;
  bottom: 0;
  left: 0%;
  background-attachment: fixed;
  background-image: url("../media/Skin-5.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: 0 0;
  animation-name: bg-scroll;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0.2;
}
@media (prefers-reduced-motion) {
  .App::before {
    animation: none;
  }
}
@keyframes bg-scroll {
  from {
    /* transform: translateX(0); */
    background-position: 0vw 0;
  }
  to {
    /* transform: translateX(-100vw); */
    background-position: -100vh 0;
  }
}

.App-header,
.App-footer,
.App-main {
  position: relative;
}
