.AppHeader {
  /* background-color: #282c34; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white; */
  color: rgb(12, 12, 13);
}

.AppHeader-link {
  min-width: 6em;
  display: block;
}

.AppHeader-logo {
  margin: 0 20px;
}
.AppHeader-logo .AppLogo-title {
  backface-visibility: hidden;
  transition: 0.2s transform ease;
}
.AppHeader-logo:focus,
.AppHeader-logo:hover {
  text-decoration: none;
}
.AppHeader-logo:focus .AppLogo-title,
.AppHeader-logo:hover .AppLogo-title {
  /* transform: scale(1.1); */
  transform: scale(1.1) translate(-50%, -50%);
}
