.AppLogo {
  position: relative;
  font-size: 66px;
}
.AppLogo-abbr {
  display: block;
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  color: #ecb7ea;
}

.AppLogo-title {
  font-family: "Comforter Brush", cursive;
  font-size: 0.75em;
  color: #000;
  margin: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: translate(-50%, -50%);
}

/* animations */
/* .AppLogo {
  backface-visibility: hidden;
}
.AppLogo-abbr {
  display: block;
  animation-name: AppLogo-abbr--enter;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}
.AppLogo-title {
  opacity: 0;
  animation-name: AppLogo-title--enter;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes AppLogo-abbr--enter {
  from {
  }
  to {
  }
}
@keyframes AppLogo-title--enter {
  from {
    transform: scale(0.5) translate(-50%, -50%);
    opacity: 0;
  }
  to {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
} */
