.AppLogo {
  position: relative;
  font-size: 66px;
  margin-left: 0.15em;
}
.AppLogo-abbr {
  display: block;
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  color: #ecb7ea;
}

.AppLogo-title {
  font-family: "Comforter Brush", cursive;
  font-size: 0.75em;
  color: #000;
  margin: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: translate(-50%, -50%);
}
