.PageHome {
  text-align: left;
}
.PageHome-mainImg {
  margin-bottom: 20px;
}
.PageHome-section {
  margin-bottom: 2em;
}
.PageHome-headline {
  margin-bottom: 1em;
}
.PageHome-blurb {
  margin-bottom: 1em;
}
.PageHome-section:last-child,
.PageHome-blurb:last-child {
  margin-bottom: 0;
}
