.PageInfo {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PageInfo-headline {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 1.667em;
}
.PageInfo-section {
  margin-bottom: 1em;
  font-weight: 700;
}
.PageInfo-sectionHeadline {
  display: block;
  font-weight: 300;
  font-size: 16px;
}
.PageInfo-inputLabel .PageInfo-sectionHeadline {
  margin-bottom: 1em;
}
.PageInfo-extendedInput {
  border-radius: 8px;
  display: inline-block;
  background-color: #f2f2f2;
}
.PageInfo-extendedInputInner {
  background-color: #f2f2f2;
  padding: 0 1em 0 0.5em;
  font-size: 16px;
}
.PageInfo-input {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 0;
}
