.PageMint-headline {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 1.667em;
}
.PageMint-section {
  margin-bottom: 1em;
}
.PageMint-sectionHeadline {
  display: block;
  font-weight: bold;
  font-size: 16px;
}
.PageMint-inputLabel .PageMint-sectionHeadline {
  margin-bottom: 1em;
}
.PageMint-extendedInput {
  border-radius: 8px;
  display: inline-block;
  background-color: #f2f2f2;
}
.PageMint-extendedInputInner {
  background-color: #f2f2f2;
  padding: 0 1em 0 0.5em;
  font-size: 16px;
}
.PageMint-input {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 0;
}
