.PageHome {
  text-align: left;
}
.PageHome-mainImg {
  margin-bottom: 20px;
}
.PageHome-section {
  margin-bottom: 2em;
}
.PageHome-section--butts {
  text-align: center;
}
.PageHome-headline {
  font-weight: 700;
  font-size: 2.5em;
}
.PageHome-blurb {
  margin-bottom: 1em;
}
.PageHome-section:last-child,
.PageHome-blurb:last-child {
  margin-bottom: 0;
}
