.App {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-footer,
.App-main {
  margin: 0 auto;
  max-width: 1000px;
}
