* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-size: 28px;
  overflow-y: scroll;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* AnchorText */
.AnchorText {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.AnchorText:focus,
.AnchorText:hover {
  text-decoration: underline;
}

/* ButtonPrimary */
.ButtonPrimary {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  background-color: #111;
  transition: background 0.2s ease 0s;
  font-weight: bold;
  padding: 0.5em 26px;
  border-radius: 54px;
  height: 54px;
  overflow: hidden;
}
.ButtonPrimary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 150%;
  width: 200%;
  height: 100%;
  transform: skewX(-20deg);
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
}
.ButtonPrimary:focus,
.ButtonPrimary:hover {
  background: #2b2b2b;
  transition-delay: 0.25s;
}
.ButtonPrimary:focus::after,
.ButtonPrimary:hover::after {
  animation: shine 0.5s cubic-bezier(0.01, 0.56, 1, 1);
}
@keyframes shine {
  100% {
    left: -200%;
  }
}

/* ButtonText */
.ButtonText {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  font-weight: bold;
}
.ButtonText:focus,
.ButtonText:hover {
  text-decoration: underline;
}
