* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 0.05em;
  overflow-y: scroll;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* AnchorText */
.AnchorText {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.AnchorText:focus,
.AnchorText:hover {
  text-decoration: underline;
}

/* Button */
.Button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #111;
  transition: background 0.2s ease 0s;
  padding: 0.5em 26px;
  border-radius: 54px;
  height: 54px;
  overflow: hidden;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  font-weight: 700;
}
.Button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 150%;
  width: 200%;
  height: 100%;
  transform: skewX(-20deg);
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
}
.Button:focus,
.Button:hover,
.Button--loading {
  background: #2b2b2b;
  transition-delay: 0.25s;
}
.Button:focus::after,
.Button:hover::after,
.Button--loading::after {
  animation: shine 0.5s cubic-bezier(0.01, 0.56, 1, 1);
}
.Button--loading::after {
  animation-iteration-count: infinite;
}
@keyframes shine {
  100% {
    left: -200%;
  }
}
.Button--disabled,
.Button--disabled:hover,
.Button--disabled:focus {
  cursor: default;
  background-color: #f6f6f6;
  color: #c1c1c1;
}
.Button--disabled:focus::after,
.Button--disabled:hover::after {
  animation: none;
  background-image: none;
}

/* ButtonText */
.ButtonText {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  font-weight: 700;
}
.ButtonText:focus,
.ButtonText:hover {
  text-decoration: underline;
}
